<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Playerlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
</head>
<body>
<div class="container">
	<div class="col-md-4">
<p>Kirjautujan rooli:
	<span sec:authentication="name"> </span>
	</p>
	<h1>Edit player</h1>
    <div>
	    <form th:object="${player}" th:action=="@{../save}" action="#" method="post">
	    	
	    	<input type="hidden" id="id" th:field="*{id}" />
		    <label for="firstname">Firstname</label>
		   	<input type="text" id="firstname" th:field="*{firstName}"/>
		   	<br>
		   	<label for="lastname">Lastname</label>
		   	<input type="text" id="lastname" th:field="*{lastName}"/>
		   	<br>
		   	<label for="position">Pelipaikka</label>
		   	<input type="text" id="position" th:field="*{position}"/>
		   	<br>
		   	<label for="age">Age</label>
		   	<input type="text" id="age" th:field="*{age}"/>
		   	<br>
		   	<label for="str">Vahvuudet</label>
		   	<input type="text" id="str" th:field="*{str}"/>
		   	<br>
		   	 <label for="weakness">Heikkoudet</label>
		   	<input type="text" id="weakness" th:field="*{weakness}"/>
		   	<br>
		   		
		   	
		   	
		 <div style="clear: both; display: block; height: 10px;"></div>						
		  	<label for="deplist">Joukkue</label>
			 <select id="deplist" th:field="*{team}" class="form-control">
       			<option th:each="team: ${team}" th:value="${team.tid}" th:text="${team.name}"></option>
    		</select>
	   	
	   	
	   	 	
   			
   
   	
   	
   			<input type="submit" value="Save"></input>
   		 </form>
    </div>
</body>
</html>