<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Muokkaa joukkue</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
</head>
<body>
<div class="container">
	<div class="col-md-4">
<p>Kirjautujan rooli:
	<span sec:authentication="name"> </span>
	</p>
	<h1>Muokkaa joukkuetta</h1>
    <div>
	    <form th:object="${team}" th:action="@{../tsave}" action="#" method="post">
	    	
	    	<input type="hidden" id="tid" th:field="*{tid}" />
		    <label for="name">Nimi:</label>
		   	<input type="text" id="name" th:field="*{name}"/>
		  
		  
   			<div style="clear: both; display: block; height: 10px;"></div>						
		  	<label for="deplist">Sarjataso</label>
			 <select id="deplist" th:field="*{series}" class="form-control">
       			<option th:each="series: ${series}" th:value="${series.sid}" th:text="${series.level}"></option>
    		</select>
   	
   	
   			<input type="submit" value="Tallenna"></input>
   		 </form>
    </div>
</body>
</html>