<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Player list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
</head>
<body>
	<div class="container">
	<div class="col-md-4">
	<p>Kirjautujan rooli:
	<span sec:authentication="name"> </span>
	</p>
		<h1>Aloitussivu</h1>
	</div>
	<div th:insert="navbar :: navbar">  </div>
	
	<div style="padding:20px">
		<h4>Tervetuloa pelaajien scouttaus sivustolle.</h4>
		<p>Tällä sivulla voit listata mielenkiintoisia pelaajia. Editoita pelaajien tietoa, määrittää pelaajille sarjatason ja joukkueen.<br>
			Kertoa pelaajan iän, vahvuudet ja heikkoudet sekä pelipaikan.<br>
			Sovellukseen tehty navigointibar minkä avulla voit navigoida eri sivujen välillä.
		</p>
		<p>Admin tason käyttäjä voi kuitenki ainoastaan poistaa pelaajan tai joukkueen tietokannasta. </p>
		
	</div>
	
	
   
    		
     
     </div>
</body>
</html>