<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NavigationBar</title>

</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header"> 
        </div>
        <ul class="nav navbar-nav">
        	<li><a class="nav-link" th:href="@{/home}">Koti</a></li>        
			<li><a class="nav-link" th:href="@{/playerlist}">Pelaajat</a></li>        
            <li><a class="nav-link" th:href="@{/teamlist}">Joukkueet</a></li>
            <li><a class="nav-link" th:href="@{/serieslist}">Sarjat</a></li> 
            
            <form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>       
        </ul>
    </div>    
</nav>

</body>
</html>